# Оконные функции и интерактивные графики
# Минипроект 2
---

## Цели и задачи

В данном проекте поработаем с gff файлом, который описывает геном мухи (описание формата [см. здесь](http://gmod.org/wiki/GFF3)).

1. Выделите из колонки ```attributes``` значение атрибута ```Parent```. Т.е. если там записано ```Parent = x```, то нам нужен ```x```.
2. Выясните, какое из этих значений является самым частым.
3. Постройте распределение встречаемости значений в столбце ```type```.

## Загрузка необходимых библиотек

In [2]:
import pandas as pd

## Загрузка данных

In [3]:
gff = pd.read_csv('./gff.tsv', sep = '\t')

In [4]:
gff

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1
...,...,...,...,...,...,...,...,...,...
507,chr17,RefSeq,exon,6812219,6818159,.,+,.,Parent=XM_001475631.1
508,chr17,RefSeq,protein,6806527,6812289,.,+,.,ID=;Parent=XM_001475631.1
509,chr17,RefSeq,CDS,6806527,6806553,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
510,chr17,RefSeq,exon,6811792,6811869,.,+,.,Parent=XM_001475631.1
511,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1

## Предварительный обзор таблицы

In [5]:
gff.dtypes

seq_id        object
source        object
type          object
start          int64
end            int64
score         object
strand        object
phase         object
attributes    object
dtype: object

In [11]:
print(gff.shape[0], "rows in raw data.")
print(gff.dropna().shape[0], "rows after trying to drop NA values.")
print(gff.drop_duplicates().shape[0], "rows after trying to remove duplicate rows.")

512 rows in raw data.
512 rows after trying to drop NA values.
16 rows after trying to remove duplicate rows.

# Выполнение задач

Выделяем из колонки `attributes` значение атрибута `Parent`.

In [49]:
gff['parent'] = \
    gff['attributes'].str.extract(r"Parent=(?P<parent>\S+)")

gff['parent'] = gff['parent'].str.replace(',','')

In [50]:
gff.head()

,seq_id,source,type,start,end,score,strand,phase,attributes,parent
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1,XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,XM_001475631.1
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,XM_001475631.1
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1,XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1,XM_001475631.1

Какое значение атрибута `Parent` самое частое?

In [51]:
parent_value_counts = gff['parent'].value_counts().sort_values(ascending = False)
parent_value_counts

XM_001475631.1              479
NC_000083.5:LOC100040603     33
Name: parent, dtype: int64

In [52]:
print(parent_value_counts.idxmax())

XM_001475631.1

Какое самое частое значение в колонке ```type```?

In [57]:
type_values = gff['type'].value_counts()
type_values

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64

In [58]:
print(type_values.idxmax())

exon